DATABASE_URL="postgresql://Hazjak:Hazjak@localhost:5433/Hazjak"
DATABASE_PROVIDER="postgresql"
# Production (MySQL):
# DATABASE_URL="mysql://user:pass@127.0.0.1:3306/beeplay"
# DATABASE_PROVIDER="mysql"
